body{
    margin: 0;
}

.cabecalho {
    width: 100%;
    height: 9%;
    background-color: black;
}

.botaocabecalho {
    margin-left: 8px;
    width: 6%;
    height: 100%;
    float: left;
}

.btn {
    margin-top: 8px;
    height: 70%;
    border: 0;
    border-radius: 5px;
    background-color: #274a96f3;
    cursor: pointer;
}

.btn:hover {
    margin-top: 8px;
    height: 70%;
    border-radius: 5px;
    border: solid 2px;
    background-color: #274a96f3;
    cursor: pointer;
}

.main {
    width: 100%;
    height: 82%;
    background-color: #183980f3;
}

.partemain {
    height: 100%;
    width: 50%;
    float: left;
}

.toppart {
    width: 100%;
    height: 80%;
}

.caixa1 {
    width: 60%;
    height: 100%;
    float: left;
}

.caixa2 {
    float: left;
    width: 40%;
    height: 100%;
    text-align: left;
}

.jogo {
    float: left;
    width: 80%;
    margin-left: 20%;
    margin-top: 10%;
}

.jogoconfig {
    border: solid;
    border-radius: 15px;
    border-width: 3px;
    border-color: black;
    width: 75%;
    height: 85%;
}

.especificacoes {
    float: left;
    width: 100%;
    margin-top: 10%;
    padding-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

.sinopse {
    font-size: 14px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0;
}

.tags {
    margin: 0;
    text-align: left;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bottompart {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 30px;
}

.configcarrinho1 {
    width: 10%;
    height: 50%;
}

.configcarrinho1:hover {
    width: 10%;
    height: 50%;
    background-color: red;
    border-radius: 7px;
    cursor: pointer;
}

.configcarrinho2 {
    width: 10%;
    height: 50%;
}

.configcarrinho2:hover {
    width: 10%;
    height: 50%;
    background-color: green;
    border-radius: 7px;
    cursor: pointer;
}

.rodape {
    width: 100%;
    height: 9%;
    background-color: black;
}

.copyright {
    margin: 0;
    text-align: center;
    padding-top: 1%;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.contatoleft {
    float: left;
    width: 85%;
    height: 100%;
}

.tituloemail {
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.config {
    margin: 0;
    margin-bottom: 10px;
}

.formulario {
    padding-left: 10%;
    margin: 0;
}

.input {
    float: left;
    height: 5%;
    margin-right: 10%;
    margin-bottom: 2%;
    border: solid 2px;
    border-radius: 5px;
}

.inputemail {
    padding: 0;
    margin: 0;
    width: 90%;
    height: 60%;
    border: solid 2px;
    border-radius: 5px;
    text-align: justify;
}

.inputabaixo {
    margin-top: 2%;
    height: 5%;
    border: solid 2px;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    margin-right: 3%;
}

.inputabaixo:hover {
    margin-top: 2%;
    height: 5%;
    border: solid 2px;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    color: rgb(160, 160, 160);
}

.contatoright {
    float: left;
    width: 15%;
    height: 100%;
}

.caixa4 {
    width: 80%;
    height: 15%;
    margin: auto;
}

.caixa5 {
    width: 80%;
    height: 70%;
    margin: auto;
}

.imagemconfigcontato {
    float: right;
    height: 100%;
    cursor: pointer;
    border: solid 2px;
    border-radius: 5px;
}

.leftpart {
    float: left;
    height: 100%;
    width: 10%;
}

.caixa3 {
    width: 80%;
    height: 25%;
    margin: auto;
}

.caixa6 {
    width: 80%;
    height: 50%;
    margin: auto;
}


.imagemsobre {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}

.centralpart {
    float: left;
    height: 100%;
    width: 80%;
}

.maindivision1 {
    width: 100%;
    height: 80%;
}

.sobrenos {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 2%;
    margin-top: 0;
    padding-top: 5%;
}

.textosobre {
    margin-left: 5%;
    margin-right: 5%;
}

.textosobrerodape {
    margin-left: 5%;
    margin-right: 5%;
    text-align: right;
}

.maindivision2 {
    width: 100%;
    height: 20%;
}
.embaixoesquerda {
    float: left;
    width: 50%;
    height: 100%;
}

.caixaicon2 {
    float: left;
    height: 50%;
    width: 10%;
    margin-left: 10%;
}

.numtel {
    margin-left: 5%;
    float: left;
    cursor: pointer;
}

.numtel:hover {
    margin-left: 5%;
    float: left;
    cursor: pointer;
    font-size: 16.5px;
}


.embaixodireita {
    float: left;
    width: 45%;
    height: 100%;
    margin: auto;
}

.separacao {
    height: 33.33%;
}

.caixaicon {
    float: right;
    height: 50%;
    width: 10%;
    margin-left: 5%;
}

.icon {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
}

.icon:hover {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px dotted;
    border-color: #183980f3;
}